@import url('https://fonts.googleapis.com/css?family=Kanit|Roboto');
* {
    /* so cursor needs to be 32px or lesser to work */
    cursor: -webkit-image-set(url("../img/pointer32.png") 1x, url("../img/pointer32.png") 2x) 16 16, none !important;
    /* default fall back */
}

html {
    font-family: 'Kanit', 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
}

header {
    display: block;
    height: calc(14vh - 20px);
}

header>.left,
header>.right {
    background: white;
    border: solid 10px black;
    /* https://www.w3schools.com/cssref/func_calc.asp */
    width: calc(50% - 15px);
    height: 100%;
}

header>.left {
    border-right-width: 5px;
}

header>.right {
    border-left-width: 5px;
}

.left {
    float: left;
}

.right {
    float: right;
}

p.right {
    text-align: right;
}

body>header>div>p,
body>header>div>span,
body>header>div>ul {
    padding: 2em;
    font-size: 1em;
}

body>header>.right>ul {
    font-size: 1.45em;
    font-weight: 400;
    list-style: none;
}

body>header>.right>ul>li {
    display: inline;
}

body>header>.right>ul>li+li:before {
    padding: 8px;
    color: black;
    content: "•";
}

.home {
    margin:10px;
    /* padding: 3.3em; */
    position: fixed;
}

.home>.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 7vh;
    height: 7vh;
    border: solid 10px black;
    border-radius: 50%;
    
}
.home>.logo:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 55%;
    height: 55%;
    border: solid 10px black;
    border-radius: 50%;
    
}
.home>.logo:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10%;
    height: 10%;
    border: solid 10px black;
    border-radius: 50%;
}

body>section {
    display: block;
    height: calc(43vh - 10px);
    width: calc(50% - 15px);
    border: solid 5px black;
    border-top-width: 0px;
    border-bottom-width: 10px;
}

/* https://www.w3schools.com/cssref/sel_nth-child.asp */

body>section:nth-child(even) {
    float: left;
    border-left-width: 10px;
}

body>section:nth-child(odd) {
    float: right;
    border-right-width: 10px;
}

/* https://www.w3schools.com/cssref/sel_nth-last-child.asp */

body>section:nth-last-child(1),
body>section:nth-last-child(2) {
    border-bottom-width: 10px;
}

.purple {
    background: #C3A5F5 !important;
}

.peach {
    background: #FFA9AF !important;
}

.yellow {
    background: #FFE000 !important;
}

.green {
    background: #3CC8AA !important;
}

body>section>div {
    visibility: hidden !important;
}

/* https://www.w3.org/Style/Examples/007/center.en.html */

body>section>span {
    height: 100%;
    display: flex;
    align-items: center
}

body>section>span>h1 {
    font-size: 5em;
    font-weight: 900;
    margin: 0 auto;
}

/* Wow love this logic... on hover of span h1 inside is changed :O */

body>section>span:hover>h1 {
    transform: scale(1.3);
    /* https://www.w3schools.com/css/css3_transitions.asp */
    transition: all 1s;
}

/* https://stackoverflow.com/questions/18493427/mouseover-and-mouseout-in-css */

body>section>span:not(:hover)>h1 {
    transform: scale(1);
    transition: all 1s;
}